<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="stylesheet" href="../static/img/favicon.ico"  th:src="@{img/favicon.ico}"/>
 
    <title>旅行者</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css"  th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/bootstrap/css/ie10-viewport-bug-workaround.css" th:href="@{bootstrap/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/blog.css" rel="stylesheet"  th:href="@{bootstrap/css/blog.css}">

   <script src="../static/bootstrap/js/ie-emulation-modes-warning.js" th:href="@{bootstrap/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" th:href="@{bootstrap/js/html5shiv.min.js}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" th:href="@{bootstrap/js/respond.min.js}"></script>
    <![endif]-->
  </head>
	<body>
		<footer class="blog-footer">
      <p>自由旅行者联盟<a href="http://lwzapp.com">旅行者</a> by <a href="https://lxzapp.com">@中国自由旅行者联盟</a>.</p>
      <p>
        <a href="#">回到顶部</a>
      </p>
    </footer>
	</body>
</html>
