
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
     
<link rel="stylesheet" href="../static/img/favicon.ico"  th:src="@{img/favicon.ico}"/>
<link rel="stylesheet" href="../static/bootstrap/css/ie10-viewport-bug-workaround.css"  th:href="@{bootstrap/css/ie10-viewport-bug-workaround.css}"/>
<link rel="stylesheet" href="../static/bootstrap/css/signin.css" th:href="@{bootstrap/css/signin.css}" />
<link rel="stylesheet" href="../static/bootstrap/js/ie-emulation-modes-warning.js" th:href="@{bootstrap/js/ie-emulation-modes-warning.js}" />
<link rel="stylesheet" href="../static/bootstrap/js/ie10-viewport-bug-workaround.js" th:href="@{bootstrap/js/ie10-viewport-bug-workaround.js}" />
    <title>旅行者,经过旅行,后来发现我们都是行者</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"  th:href="@{bootstrap/css/bootstrap.min.css}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet"  th:href="@{bootstrap/css/ie10-viewport-bug-workaround.css}">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="../static/bootstrap/css/signin.css"  th:href="@{bootstrap/css/signin.css}" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/bootstrap/js/ie-emulation-modes-warning.js"   th:src="@{bootstrap/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../static/bootstrap/js/html5shiv.min.js" th:src="@{bootstrap/js/html5shiv.min.js}"></script>
      <script src="../static/bootstrap/js/respond.min.js" th:src="@{bootstrap/js/respond.min.js}"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">用户登录中心</h2>
        <label for="inputEmail" class="sr-only">邮箱</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="邮箱" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>
