<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="stylesheet" href="../static/img/favicon.ico"  th:src="@{img/favicon.ico}"/>
 
    <title>旅行者</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css"  th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/bootstrap/css/ie10-viewport-bug-workaround.css" th:href="@{bootstrap/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/blog.css" rel="stylesheet"  th:href="@{bootstrap/css/blog.css}">

   <script src="../static/bootstrap/js/ie-emulation-modes-warning.js" th:href="@{bootstrap/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" th:href="@{bootstrap/js/html5shiv.min.js}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" th:href="@{bootstrap/js/respond.min.js}"></script>
    <![endif]-->
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-masthead navbar-inverse">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">我的</a>
          <a class="blog-nav-item" href="#">旅行</a>
          <a class="blog-nav-item" href="#">发现</a>
          <a class="blog-nav-item" href="#">行者</a>
          <a class="blog-nav-item" href="#">旅行团</a>
          <a class="blog-nav-item" href="#">GoMap</a>
          <a  class="blog-nav-item"  style="float: right;" href="login.do" target="_blank">登录</a>
          <a  class="blog-nav-item"  style="float: right;" href="#">加入旅行者</a>
          <div class="input-group">
    <input type="text" class="form-control input-lg"><span class="input-group-addon btn btn-primary">搜索</span>
          </div>
        </nav>
      </div>
    </div>
  </body>
</html>
